<h1>ようこそ <span class="font-bold">Bookers</span> へ！</h1>

<div class="about-bookers">
  <div class="about-bookers-text-box">
    <p class="">
      <span class="font-bold">Bookers</span>では、さまざまな書籍に関するあなたの意見や
      <br>印象を共有し交換することができます
    </p>
  </div>

  <%= link_to "start", books_path %>
</div>